http {
    upstream service_u {
        server service_u_inst1_ip:3333;
        server service_u_inst2_ip:3334;
        # Add more instances as needed
    }

    upstream service_f {
        server service_f_inst1_ip:4444;
        server service_f_inst2_ip:4445;
        # Add more instances as needed
    }

    upstream service_c {
        server service_c_inst1_ip:4444;
        server service_c_inst2_ip:4445;
        # Add more instances as needed
    }

    server {
        listen 80;

        location /service_u {
            proxy_pass http://service_u;
        }

        location /service_f {
            proxy_pass http://service_f;
        }

        location /service_c {
            proxy_pass http://service_c;
        }
    }
}